include pug/common/_head
	block content
		include pug/common/_header
		main#main(role="main")
			.container
				h1 fhfhf
				h2 fjfjfj
				h3 fjfjfjf
				<div class="styled-select slate">
					<select>
						<option>Here is the first option</option>
						<option>The second option</option>
						<option>The third option</option>
					</select>
				</div>
		include pug/common/_footer
