include ../mixins/_mixin
doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Project Title
		link(rel='stylesheet', href='css/foundation.css')
		link(rel='stylesheet', href='style.css')
	//- -var bodyClass= "home"; // add class on body
	body(class= bodyClass)
		#wrapper
			block content
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script.
			window.jQuery || document.write('<script src="js/jquery-1.12.4.min.js"><\/script>')
		script(src='js/vendor/foundation.min.js')
		script(src='js/jquery.main.js')
