#nav {
  @extend %clearfix;
  position: relative;
}

.nav-drop {
  @include animate(all);

  background: $mobile-nav-drop-bg;
  color: $mobile-nav-drop-color;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;

  @include media('≥tablet') {
    position: static;
    opacity: 1;
    visibility: visible;
    color: $nav-color;
    background: none;
  }

  .nav-active & {
    opacity: 1;
    visibility: visible;
  }

  ul {
    margin: 0;
    padding: 0;

    @include media('≥tablet') {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  li {
    list-style: none;

    &.active,
    &:hover {
      opacity: 0.5;
    }
  }

  a {
    color: inherit;
  }
}

.nav-opener {
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 0;
  line-height: 0;
  float: right;

  @include media('≥tablet') {
    display: none;
  }

  &:before,
  &:after,
  span {
    @include animate(transform);
    background: $black;
    position: absolute;
    top: 16px;
    left: 15%;
    right: 15%;
    height: 3px;
    margin-top: -2px;
  }

  &:before,
  &:after {
    content: '';
    top: 10px;
  }

  &:after {
    top: 22px;
  }

  &:hover {
    opacity: 0.9;
  }

  .nav-active & {
    span {
      opacity: 0;
    }

    &:after,
    &:before {
      transform: rotate(45deg);
      top: 16px;
      left: 15%;
      right: 15%;
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.resize-active .nav-drop,
.resize-active .nav-drop > ul {
  transition:none !important;
}