.btn {
  @include animate(background);
  background: $btn-background;
  color: $btn-color;
  border: $btn-border;
  padding: $btn-padding;
  font-size: $btn-font-size;
  line-height: $btn-line-height;

  &:hover {
    background: $btn-hover-background;
    color: $btn-hover-color;
  }
}

.btn-group {
  display: flex;

  > .btn {
    + .btn {
      border-left: 0;
    }
  }
}