include pug/common/_head
	block content
			include pug/common/_header
			main#main(role="main")
				.container
					// breadcrumbs wp
					ul.breadcrumbs
					  li.home
					    span
					      a.home(href="#")
						span Home
					  li.current-item
					    span
					      span Skip the Line
					h1 fhfhf
					h2 fjfjfj
					h3 fjfjfjf
			include pug/common/_footer
