// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$black:                       #000;
$white:                       #fff;
$gray:                        #999;

// font weight
$thin:                        100;
$light:                       300;
$normal:                      400;
$medium:                      500;
$semibold:                    600;
$bold:                        700;
$black-font:                  800;
$extrabold:                   900;

$widget-margin:               20px;
$vertical-rhythm:             20px;

$wp-caption-border:           1px solid $black;

$base-font-sans-serif:        'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif:             'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$base-font:                   $base-font-sans-serif;

$font-size-base:              16px !default;
$line-height-base:            1.2 !default;

$base-min-width:              320px;
$max-width-center-container:  1200px;