include pug/common/_head
	block content
			include pug/common/_header
			main#main(role="main")
				.container
					h1 fhfhf
					h2 fjfjfj
					h3 fjfjfjf
					<a class="button primary" href="#">Primary</a>
					<a class="button secondary" href="#">Secondary</a>
					<a class="button success" href="#">Success</a>
					<a class="button alert" href="#">Alert</a>
					<a class="button warning" href="#">Warning</a>
			include pug/common/_footer
